**/*.cy.ts
**/*.test.ts

/.browserslistrc
/.eslintrc.json
/.gitattributes
/.github/
/.prettierignore
/.prettierrc
/.idea/
/auxiliary/
/cypress.config.ts
/dev
/node_modules/
/test/cypress/
/test/vitest/
/vitest.config.ts
